*{
    color:white;
    font-family: 'Montserrat', sans-serif;
}
body{
    background:linear-gradient(to right, #42275A, #7521c0);
}
.container{
    display: flex;
    text-align: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}
p{
    font-size:40px;
    font-weight: bold;
}
.title{
    font-size: 60px;
    font-weight: bold;
}
.task-input-section{
    flex-direction: row;
    width:100%;
}
input{
    color: #888888;
    width:700px;
    height: 50px;
    font-size:24px;
    border-radius: 10px;
    padding-left: 10px;
    border:0;

}

input[type="submit"]{
    outline:none;
    border:none;
    width:40px;
    padding:0;
    margin-left:-50px;
    color:black;
    background-color: white;
    font-weight: bold;
}
.task-list-container{
    margin-top:50px;
}
input#task{
    color:black;
    font-weight: bold;
    padding-left:10px;
}
#task-delete{
    font-weight: bold;
    height:30px;
}
.task-section{
    margin-bottom: 10px;
}
.footer{
    font-size:26px;
    font-weight: normal;
}
span{
    text-decoration: underline;
}